.D\(f\) {
  display: flex;
}
.D\(ib\) {
  display: inline-block;
}
.D\(n\) {
  display: none;
}
.Flx\(1\/1\) {
  flex: 100%;
}
.Flx\(2\/1\) {
  flex: 200%;
}
.Fld\(r\) {
  flex-direction: row;
}
.Fld\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(sb\) {
  justify-content: space-between;
}
.Jc\(c\) {
  justify-content: center;
}
.Fz\(36px\) {
  font-size: 36px;
}
.M\(12px\) {
  margin: 12px;
}
.Py\(16px\) {
  padding-top: 16px;
  padding-bottom: 16px;
}
.W\(1\/1\) {
  width: 100%;
}
.W\(3\/10\) {
  width: 30%;
}
