<div class="walls W(1/1)">
    <div class="walls-controls D(f) Jc(c) Py(16px) Fld(c)">
        <div class="walls-buttons D(f) Fld(c) Ai(c) Py(16px)">
            <textarea class="newQuote W(3/10)"/>
        </div>
        <div class="walls-quotes-input D(f) Fld(c) Ai(c)">
            <div class="quoteAndWallpaper" rv-each-quote="model.quotes">
                <quoteblock rv-id="quote.id" rv-class-fadein="quote.rendered" class="walls-quote-inline D(n)">
                    <textarea rv-quoteid="quote.id" rv-value="quote.text" rv-show="quote.editMode" rv-class-fadein="quote.editMode" rv-rows="quote.rows" rv-on-keypress="model.actions.editModeOff"></textarea>
                    <quote rv-quoteid="quote.id" rv-hide="quote.editMode" rv-class-fadein="quote.editMode | invert" rv-for="quote.editId">
                        <label rv-for="quote.editId">
                            {quote.text}
                        </label>
                    </quote>
                    <input type="checkbox" rv-quoteid="quote.id" rv-checked="quote.editMode" rv-id="quote.editId" class="D(n)" rv-on-change="model.actions.focusTextArea">
                    <div class="customizeMenuContainer" rv-quoteid="quote.id">
                        <div class="customizeMenu">
                            <select class="chooseBackground" rv-value="quote.styles.background">
                                <option value="">Background</option>
                                <option rv-value="wall" rv-text="wall" rv-each-wall="model.walls.all"></option>
                            </select>
                            <select class="chooseFont" rv-value="quote.styles.font">
                                <option value="">Font</option>
                                <option rv-value="font" rv-text="font" rv-each-font="model.fonts"></option>
                            </select>
                            <select class="chooseFontColor" rv-value="quote.styles.fontColor">
                                <option value="">Font Color</option>
                                <option value="Black">Black</option>
                                <option value="White">White</option>
                            </select>
                        </div>
                    </div>
                </quoteblock>
                <wallpaper rv-quoteid="quote.id">
                </wallpaper>
            </div>
        </div>
    </div>
    <div class="walls-generated D(f) Fld(c)">
        <div class="background dummy" id="dummy">
            <div class="quoteBox">
                <div class="quoteContainer">

                </div>
            </div>
        </div>
    </div>
</div>