.nav-lv1{
  .nav-lv2{
    navitem{
      color: #666;
      font-family: $Roboto;
      font-weight: 100;
      font-size: 14px;
      padding: 9px;
      margin: 6px 6px 0px 6px;
      &.active, &:hover{
        border-bottom: 2px solid $green;
      }
    }
  }
}