.walls-controls{
  .walls-quotes-input{
    textarea{
      width: 50%;
      height: 70px;
      margin-bottom: 18px;
      background: #F9F9F9;
      border: 1px solid transparent;
      border-bottom: 1px solid #ddd;
      border-radius: 4px;
      font-family: $Lato;
      font-style: italic;
      font-weight: 300;
      padding: 5px 7px;
      font-size: 12.9px;
      color: #888;
      line-height: 17px;
      &:focus{

      }
    }
    ::-webkit-resizer{
      display: none;
    }
  }
}
.walls-generated{
  .background{
    background-color: #eee;
    width: 1440px;
    height: 900px;
    display: flex;
    align-items: center;
    border: 1px solid white;
    .quoteBox{
      /* background: rgba(255,255,255, 0.2); */
      margin: 0 auto;
    }

    .quoteContainer, .dummy{
      font-family: $Lucida;
      font-size: 36px;
    }

    .line{
      display: inline-block;
      white-space: nowrap;
    }

    .quoteBy{
      font-size: 36px !important;
      width: 100%;
      text-align: right;
    }
  }
  .dummy{
    height: 0;
  }
}
